<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- htmx might require the selfRequestsOnly set to false in templates -->
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <title>FastAPI Server w/ Database</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col items-center justify-center min-h-screen">

    <div class="text-center flex flex-col items-center">
        <!-- Python GIF -->
        <div class="w-auto h-auto">
            <img src="/public/python.gif" alt="Python GIF" class="mb-6 w-48 h-auto mx-auto">
        </div>

        <!-- Dynamic Greeting -->
        <h1 class="text-4xl font-bold mb-4">{{ greeting }}</h1>

        <h1 class="text-2xl font-bold mb-4 mt-[20px]">A simple HTMX request.</h1>
        <!-- Button to trigger HTMX request -->
        <button
            hx-get="https://jsonplaceholder.typicode.com/users"  
            hx-target="#result"
            class="p-2 bg-blue-500 text-white rounded-lg"
        >
            Click to Test HTMX
            <!-- Click to Test HTMX -->
        </button>

        <!-- This will display the response from the server -->
        <div id="result" class="mt-4 p-4 bg-white rounded shadow">
            <!-- Server response will be displayed here -->
        </div>
    </div>

    <!-- Hot reload script will only be included in DEBUG mode -->
    {% if DEBUG %}
        {{ hotreload.script(url_for('hot-reload')) | safe }}
    {% endif %}
</body>
</html>
